.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__xEtZ {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
}
.freeBox__xEtZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xEtZ > :global(.__wab_flex-container) > *,
.freeBox__xEtZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xEtZ > :global(.__wab_flex-container) > picture > img,
.freeBox__xEtZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xEtZ {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xEtZ > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__bGhmy {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1380px;
  min-width: 0;
}
.freeBox__bGhmy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__bGhmy > :global(.__wab_flex-container) > *,
.freeBox__bGhmy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bGhmy > :global(.__wab_flex-container) > picture > img,
.freeBox__bGhmy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bGhmy {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bGhmy > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bGhmy > :global(.__wab_flex-container) > *,
  .freeBox__bGhmy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bGhmy > :global(.__wab_flex-container) > picture > img,
  .freeBox__bGhmy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.link__jaIsA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding: 0px;
}
.img {
  object-fit: contain;
  width: 100%;
  height: 78px;
  object-position: left 50%;
  max-width: 78px;
  min-width: 0;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
  object-position: left 50%;
}
.freeBox__hbzrG {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__hbzrG > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__hbzrG > :global(.__wab_flex-container) > *,
.freeBox__hbzrG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hbzrG > :global(.__wab_flex-container) > picture > img,
.freeBox__hbzrG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hbzrG > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hbzrG > :global(.__wab_flex-container) > *,
  .freeBox__hbzrG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hbzrG > :global(.__wab_flex-container) > picture > img,
  .freeBox__hbzrG
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.aboutUs {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.aboutUs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.aboutUs > :global(.__wab_flex-container) > *,
.aboutUs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.aboutUs > :global(.__wab_flex-container) > picture > img,
.aboutUs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__uAmt8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__ij1Sl {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__xkgOm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___3RYoS {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___3RYoS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___3RYoS > :global(.__wab_flex-container) > *,
.link___3RYoS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___3RYoS > :global(.__wab_flex-container) > picture > img,
.link___3RYoS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__uHtm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__duUir {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__cj0Uv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__iQeRp {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__iQeRp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__iQeRp > :global(.__wab_flex-container) > *,
.link__iQeRp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__iQeRp > :global(.__wab_flex-container) > picture > img,
.link__iQeRp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__e8F9Q {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___6U1Uh {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg___9MmaN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__a26Ge {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__a26Ge > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__a26Ge > :global(.__wab_flex-container) > *,
.link__a26Ge > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__a26Ge > :global(.__wab_flex-container) > picture > img,
.link__a26Ge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__adOSy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__dhHqV {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__y0J38 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___94Q0 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___94Q0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___94Q0 > :global(.__wab_flex-container) > *,
.link___94Q0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___94Q0 > :global(.__wab_flex-container) > picture > img,
.link___94Q0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__aFj8A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.contact {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg___1254G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#22222299, #22222299),
    url("/plasmic/cms_starter/images/image38.jpg") right 0px top 50% / cover no-repeat fixed;
  margin-bottom: 0px;
  min-width: 0;
  padding: 177px 32px 179px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .banner {
    padding-bottom: 56px;
    padding-top: 50px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__srb9Y {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__srb9Y > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__srb9Y > :global(.__wab_flex-container) > *,
.freeBox__srb9Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__srb9Y > :global(.__wab_flex-container) > picture > img,
.freeBox__srb9Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 30px;
    padding-bottom: 0px;
  }
}
.clientsSection5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin-bottom: 0px;
  min-width: 0;
  padding: 47px 16px 20px;
}
.clientsSection5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.clientsSection5 > :global(.__wab_flex-container) > *,
.clientsSection5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.clientsSection5 > :global(.__wab_flex-container) > picture > img,
.clientsSection5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .clientsSection5 {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .clientsSection5 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__dz10I {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1380px;
  background: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__dz10I > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dz10I > :global(.__wab_flex-container) > *,
.freeBox__dz10I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dz10I > :global(.__wab_flex-container) > picture > img,
.freeBox__dz10I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dz10I {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dz10I > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dz10I > :global(.__wab_flex-container) > *,
  .freeBox__dz10I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dz10I > :global(.__wab_flex-container) > picture > img,
  .freeBox__dz10I
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.columns__ulDoJ {
  --plsmc-rc-col-gap: 0px;
}
.columns__ulDoJ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 42px 8px 36px;
}
.columns__ulDoJ > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ulDoJ {
    padding: 0px;
  }
}
.column__yPq4I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: #ffffff;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  padding: 26px 26px 35px;
}
.text__aTjf6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 857px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aTjf6 {
    font-size: 15px;
  }
}
.column___8YKq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 33px;
}
.columns__oDzAj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__oDzAj > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.columns__oDzAj > :global(.__wab_flex-container) > *,
.columns__oDzAj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__oDzAj > :global(.__wab_flex-container) > picture > img,
.columns__oDzAj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.columns__oDzAj {
  --plsmc-rc-col-gap: 0px;
}
.columns__oDzAj > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
.columns__oDzAj > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oDzAj {
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oDzAj > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oDzAj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__oEHyn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#292c2cd9, #292c2cd9),
    url("/plasmic/cms_starter/images/image39.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px;
}
.formWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .formWrapper {
    padding: 0px;
  }
}
.columns__ajMf1 {
  --plsmc-rc-col-gap: 0px;
}
.columns__ajMf1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ajMf1 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__ajMf1 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ajMf1 {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ajMf1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__wmMd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__h7Ru {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.name:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg___44DcP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pAXg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__pGeSn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__qvpoa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.name2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg___1Itty {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__kiMhO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.columns___3Nj0S {
  --plsmc-rc-col-gap: 0px;
}
.columns___3Nj0S {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___3Nj0S > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___3Nj0S > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3Nj0S {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3Nj0S > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__iKpSg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ulF5L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.name5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg___6J7DH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__otahC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column___3ZHmW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__oUvet {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.name3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg__zsDmm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__dIOsL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.columns__kOhuQ {
  --plsmc-rc-col-gap: 0px;
}
.columns__kOhuQ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__kOhuQ > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
.column___0SdGk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__iIm2L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.name4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg__jaAtk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7ZoU6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.columns__nnN4U {
  --plsmc-rc-col-gap: 0px;
}
.columns__nnN4U {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__nnN4U > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
.column__z2HKw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__iN0I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.textarea {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-bottom: 0px;
  padding-bottom: 25px;
  min-width: 0;
}
.freeBox__bmi5H {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 22px;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.button__u4Sp:global(.__wab_instance) {
  max-width: 100%;
}
.svg__bPtsN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mlfQr {
  color: #292d2f;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 26px;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__zAoPc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__cbH8G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: linear-gradient(#ffffff96, #ffffff96),
    url("/plasmic/cms_starter/images/image40.jpg") top 50% right 30% / cover repeat scroll;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 8px 8px 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__cbH8G {
    background: #ffffff96;
    padding: 20px;
  }
}
.freeBox__bDZpo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bDZpo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__bDZpo > :global(.__wab_flex-container) > *,
.freeBox__bDZpo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bDZpo > :global(.__wab_flex-container) > picture > img,
.freeBox__bDZpo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h2__ik5NY {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__gB3Vp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__yukbv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 12px) !important;
  padding-top: 0px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__vp6Oz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__brzQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.footerTopSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nvkkB {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__wTnEf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: #292d2f;
  min-width: 0;
  padding: 128px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wTnEf {
    padding-bottom: 35px;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 27px;
    min-height: 0;
  }
}
.foreground3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.freeBox___93Yk4 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___93Yk4 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___93Yk4 > :global(.__wab_flex-container) > *,
.freeBox___93Yk4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___93Yk4 > :global(.__wab_flex-container) > picture > img,
.freeBox___93Yk4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__na1Hq {
  padding-top: 0px;
  color: #ffffff;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__na1Hq {
    font-size: 32px;
  }
}
.text___4Siqb {
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4Siqb {
    font-size: 18px;
  }
}
.freeBox__nx6H8 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__nx6H8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__nx6H8 > :global(.__wab_flex-container) > *,
.freeBox__nx6H8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nx6H8 > :global(.__wab_flex-container) > picture > img,
.freeBox__nx6H8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nx6H8 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__w6InB {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__w6InB > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__w6InB > :global(.__wab_flex-container) > *,
.freeBox__w6InB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w6InB > :global(.__wab_flex-container) > picture > img,
.freeBox__w6InB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__vntCu {
  background: #ffffff;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: auto;
  height: 100%;
  left: auto;
  top: auto;
  align-self: center;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6em;
  padding: 16px 34px;
  border: 1px solid transparent;
}
.button__vntCu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button__vntCu > :global(.__wab_flex-container) > *,
.button__vntCu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__vntCu > :global(.__wab_flex-container) > picture > img,
.button__vntCu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___1IEym {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__qzKJs {
  color: #292d2f;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__kyJp9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__mykKh {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mykKh {
    padding: 40px;
  }
}
.freeBox__fBufp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1380px;
  align-self: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 8px;
}
.rowWrapper {
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  max-width: 1380px;
  flex-grow: 0;
  min-width: 0;
  padding: 8px;
}
.rowWrapper > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.rowWrapper > :global(.__wab_flex-container) > *,
.rowWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rowWrapper > :global(.__wab_flex-container) > picture > img,
.rowWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.rowWrapper {
  --plsmc-rc-col-gap: 0px;
}
.rowWrapper > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.rowWrapper > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.rowWrapper > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.rowWrapper > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .rowWrapper {
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rowWrapper > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rowWrapper > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.colmn1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3__qAmPw {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 12px;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__ig0La {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-right: 0px;
  left: auto;
  top: auto;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.link__pfaG2 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #3291ff;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.colmn2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3__mdgCk {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 12px;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__azif {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 556px;
  left: auto;
  top: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__kOidw {
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__r6R {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  color: #292d2f;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link___3GMpa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__mAbVl {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.colmn22 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3___7Afof {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 12px;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__ofYMa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 556px;
  left: auto;
  top: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__gJoys {
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__x1Wxu {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link___0PRwf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__y2Wf0 {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.colmn3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3__rvEdY {
  position: relative;
  left: auto;
  top: auto;
  margin-bottom: 12px;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__d3Q2Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.link___6S52I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 6px;
  padding-bottom: 0px;
  color: #292d2f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.link__bLeQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 12px;
  color: #292d2f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
